<!--Main-->

  <section id="main">
      <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://i.imgur.com/dUvUzPW.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/VggupwZ.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/Kx2jjwU.jpg" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/RTlOKlT.jpg" alt="Fourt slide">
          </div>
        </div>
      </div>
  </section>

<!--/Main-->

<!--Speakers-->
    <section id="speakers" class="mt-4">
      <div class="container">
        <div class="row">
          <div class="col text-center text-upercase">
            <small>Conoce más sobre</small>
            <h2>La Posada de Mindo</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="https://i.imgur.com/FbeVP9l.jpg" class="card-img-top d-none d-md-block" alt="...">
              <div class="card-body">
                <h5 class="card-title">Ubicación</h5>
                <p class="card-text">
                  Mindo es un poblado de la cordillera de los Andes en el norte de Ecuador. Es conocido por sus numerosas especies de aves, 
                  mariposas y orquídeas que habitan en el bosque nuboso circundante, parte de la Reserva Mindo-Nambillo. 
                </p>
                <a class="btn btn-primary" href="https://www.google.com.ec/maps/place/Mindo/@-0.0486022,-78.7858853,14.75z/data=!4m5!3m4!1s0x91d57c4699565207:0x7341c14f9b735b21!8m2!3d-0.048717!4d-78.775198?hl=es">Conoce más</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="https://i.imgur.com/e2sS81k.jpg" class="card-img-top d-none d-md-block" alt="...">
              <div class="card-body">
                <h5 class="card-title">Acerca de nosotros</h5>
                <p class="card-text">
                  En "La posada de mindo" vas a encontrar tu mejor opcion para hospedarte y compartir con tus seres queridos, disponemos de amplios
                  lugares para tu disfrute, zonas de recreacion, lugares de descanzo y todo lo necesario para que tu experiencia sea mágica
                </p>
                <a class="btn btn-primary" href="https://www.facebook.com/laposadademindo/photos/?ref=page_internal">Conoce más</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="https://i.imgur.com/jmnDi53.jpg" class="card-img-top d-none d-md-block" alt="...">
              <div class="card-body">
                <h5 class="card-title">Actividades en mindo</h5>
                <p class="card-text">
                  Mindo esta lleno de lugares mágicos, podras embarcarte desde exploras cascadas y zonas misteriosas hasta aventurarte en deportes extremos como 
                  la escalda o tirarte desde cables suspendidos, conoce mas en el siguiente enlace:
                </p>
                <a class="btn btn-primary" href="http://localhost:8080/galery">Conoce más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--/Speakers-->   
